html,body{height: 100%;width: 100%;}

div#header {
	position: relative;
	height: 100px;
	width: 100%;
	background-color: #f2f2f2;
	margin-bottom: 10px;
}

img.header_img {
	display: block; /*imgはデフォルトだとinline*/
	background-size: contain; /*与えられたサイズから算出される最大画像*/
	height: 100%;
	margin: 0 auto;
}

/*ロゴ、アクション、カートのレイアウト指定*/
#header_left {float: left;height: 100%;width: 20%;}
#header_center {float: left;height: 100%;width: 65%;}
#header_right {float: right;height: 100%;width: 15%;}


/*アクション部=====================================*/
/*アクション部サイズ*/
#header_above,#header_below {height: 50%;width: 100%;}
/*アクション上部-------------------------------------*/
#header_above > a, #header_empName {
	height: 100%;
	float: right;
	margin-right: 10px;
	padding-top: 10px;
	color: #000;
	line-height: 100%;
	text-decoration: underline;
}
#header_above > a > button {
	height: 100%;
	margin-top: -5px; /*ボタンだとリンクに比べて文字位置が下がるから調整*/
	background: darkgray;
}
